{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Это описание вашего зоомагазина.">
    <meta name="author" content="Lizaveta Hliabtsova">
    <meta name="theme-color" content="#3498db"> <!-- Цвет темы для мобильных устройств -->
    <title>ZooShop</title>
    <link rel="icon" href="{% static 'img/icon.png'%}">
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"#}
{#          rel="stylesheet"#}
{#          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"#}
{#          crossorigin="anonymous">#}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/link.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid_layout.css' %}">
<link rel="stylesheet" href="{% static 'css/img.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/text.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="navbar-link brand" href="/">ZooShop</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/products">Catalog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about_us">About us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/news/">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/faq/">FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'trash' %}">Trash</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/suppliers">Supplier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/purchases">Purchase</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'static_info' %}">Static Info</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ user.profile.icon.url }}" height="23px"/>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'profile' id=user.id %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'sales' %}">Sales</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
            </ul>
        {% else %}
            <div>
                <a class="btn gren" href="{% url 'login' %}" role="button">Sign in</a>
                <a class="btn orange" href="/register" role="button">Sign up</a>
            </div>
        {% endif %}
        </li>
        {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
        {% endif %}
    </ul>
</nav>


    <script>
        // JavaScript для отслеживания прокрутки страницы
        window.onscroll = function() {
            if (window.scrollY > 10) { // Если пользователь прокрутил более 50 пикселей вниз
                document.querySelector('.navbar').classList.add('navbar-scrolled'); // Добавляем класс с измененными стилями
            } else {
                document.querySelector('.navbar').classList.remove('navbar-scrolled'); // Удаляем класс
            }
        };
    </script>

{% load static %}
<main>
    {% block content %}
    {% endblock %}
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<footer class="" style="background-color: #ffd35f" >
    <address style="margin-left: 20px">
        <strong>ZOO Corporation</strong><br>
        1123 Fictional St, <br>
        San Francisco, CA 94103 <br>
        <abbr title="Phone">P:</abbr>
         +375 (44) 486-70-48 <br>
        <a href="mailto:lizaglebtsova@gmail.com" style="color: black">lizaglebtsova@gmail.com</a>
        <br> <br>
        <a download href="../../../main/static/file/ZOO_politika-po-personalnym-dannym.pdf">Политика конфиденциальности</a>
        <a href="{% url 'vacancy' %}">Вакансии</a>

{#        <a href="{% url 'feedback' %}">Отзывы</a>#}
    </address>
</footer>
</body>
</html>