{% extends 'shared/base.html' %}

{% block content %}
    {% load static %}
    <img src="../static/img/about_us.png" class="card-img-top" alt="...">

    <div class="company-callout" style="align-content: center">
        <div class="cw-row" style="width: 700px;background-color: rgb(128,128,128); display: flex;">
    <div class="cw-row__item">
        <img src="../static/img/icon.png" class="company-callout__img" alt="ERROR" style="height: 200px; ">
    </div>
    <div class="cw-row__item company-callout__copy" data-cw-row-span="1-1-min-small 3-4-min-medium">
        <h4 class="cw-type__h2" style="color: gold">With Chewy, no one pet-parents alone</h4>
        <p style="color: gold">We’re here to stick by your side through the highs, lows and in-betweens of pet parenthood, with everything you and your pet need for a happy and healthy life. At Chewy, our mission is to be the most trusted and convenient destination for pet parents and partners, everywhere.</p>
    </div>
</div></div>


    <h5 class="card-title">We improve the quality of life of pets and their owners.</h5>

    <div class="company-callout" style="align-content: center">
    <div class="cw-row" style="display: flex;">
    <div class="cw-row__item">
{#    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
        <h5>2010</h5>
        <p class="card-text">Зоомагазин "Pet Paradise" открыл свои двери в 2020 году.</p>
    </div>

    <div class="cw-row__item company-callout__img">
      <p class="card-text"><small class="text-body-secondary"></small></p>
    </div>
    <div class="cw-row__item company-callout__img">
      <p class="card-text"><small class="text-body-secondary"></small></p>
    </div>
    <div class="cw-row__item company-callout__img">
    <p class="card-text"><small class="text-body-secondary"></small></p>
    </div>
    <div class="cw-row__item company-callout__img">
      <p class="card-text"><small class="text-body-secondary"></small></p>
    </div>
    </div>
    </div>


    <video src="../static/video/reklama-zoomagazina-priroda_(VIDEOMIN.NET).mp4" class="" autoplay muted style="width: 100%"></video>

    <audio controls src="../static/audio/zvuki-kitov.mp3" ></audio>
    {% load static %}
    <img src="{% static 'img/sert.jpg' %}">
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col" headers="header1">#</th>
        <th scope="col" headers="header2">Photo</th>
{#        <th scope="col">First Name</th>#}
{#        <th scope="col">Last Name</th>#}
        <th scope="col" headers="header3">Phone</th>
        <th scope="col" headers="header4">Birthdate</th>
        <th scope="col" headers="header5">List of Suppliers</th>
    </tr>
  </thead>
    <tbody>

    {% for p in profiles %}
        <tr>
        <th scope="col" headers="header1">{{ p.id }}</th>
        <th scope="col" headers="header2">
            <img src="{{ p.icon.url }}" height="50">
        </th>
{#        <th scope="col">{{ p.user.first_name }}</th>#}
{#        <th scope="col">{{ p.user.last_name }}</th>#}
        <th scope="col" headers="header3">{{ p.phone }}</th>
        <th scope="col" headers="header4">{{ p.birthdate }}</th>
        <th scope="col" headers="header5">
        {% for s in p.supplier.all %}
            <p>{{ s.company_name }}</p>
        {% endfor %}
        </th>
        </tr>
    {% endfor %}
    </tbody>
</table>

    {% for f in feedback %}
        <h3>{{ f.user }}</h3>
        <p>{{ f.product }}</p>
        <p>{{ f.rating}}</p>
        <p>{{ f.discription }}</p>
        <p>{{ f.date }}</p>
    {% endfor %}
{% if user.is_authenticated %}
    <a href="{% url 'feedback_create' %}">Create feedback</a>
    {% else %}
    <a href="{% url 'login' %}">Create feedback</a>
    {% endif %}

{% endblock %}




