{% extends 'shared/base.html' %}

{% block content %}
    {% load static %}
    <img src="../static/img/about_us.png" class="card-img-top" alt="...">

    <div class="company-callout" style="align-content: center">
        <div class="cw-row" style="width: 700px;background-color: rgb(128,128,128); display: flex;">
    <div class="cw-row__item">
        <img src="../static/img/icon.png" class="company-callout__img" alt="ERROR" style="height: 200px; ">
    </div>
    <div class="cw-row__item company-callout__copy" data-cw-row-span="1-1-min-small 3-4-min-medium">
        <h4 class="cw-type__h2" style="color: gold">With Chewy, no one pet-parents alone</h4>
        <p style="color: gold">We’re here to stick by your side through the highs, lows and in-betweens of pet parenthood, with everything you and your pet need for a happy and healthy life. At Chewy, our mission is to be the most trusted and convenient destination for pet parents and partners, everywhere.</p>
    </div>
</div></div>


    <h5 class="card-title">We improve the quality of life of pets and their owners.</h5>

   <ul class="history">History</ul>
    <li>2010: Мы открылись</li>
    <li>2014: У нас 50 магазинов</li>
    <li>2020: Приз "Лучший зоомагазин"</li>


    <video src="../static/video/reklama-zoomagazina-priroda_(VIDEOMIN.NET).mp4" class="" autoplay muted style="width: 100%"></video>

    <audio controls src="../static/audio/zvuki-kitov.mp3" ></audio>

    {% load static %}

    <div class="sertificat">
        <h1>Sertificate</h1>
        <pre>
                                                                                                                Название магазина: ZooShop
                                                                                                                Адрес: Варшавская 51-89, Лида, 231300
                                                                                                                Телефон: +375 (44) 486-7048
                                                                                                                Электронная почта: lizaglebtsova@gmail.com


                                                       <strong>Сертификат о соответствии
                                                    качества продукции для животных</strong>


     <b>Описание продукции:</b>
     - Корм для собак и кошек
     - Аксессуары для попугаев
     - Аквариумы и аксессуары для рыб
     и другие товары для домашних животных

     <b>Стандарты качества:</b>
     - Соответствие стандартам безопасности
     - Соответствие стандартам качества питания

     <b>Процедуры контроля качества:</b>
     - Входной контроль товара при поступлении
     - Регулярные проверки качества на складе

     <b>Результаты проверок и тестов:</b>
     - Корм для собак прошел тест на безопасность
     - Аксессуары для попугаев прошли проверку качества


    <small>Срок действия сертификата:        <wbr>с 1 октября 2023 г. до 1 октября 2024 г.</small>
            </pre>
    </div>

    <div class="employee-list">
        {% for p in profiles %}
            <div class="employee">
                <p>{{ p.id }}</p>
                <img src="{{ p.icon.url }}" height="50">
                <p>{{ p.phone }}</p>
                <p>{{ p.birthdate }}</p>
                {% for s in p.supplier.all %}
                    <h3>{{ s.company_name }}</h3><br>
                {% endfor %}
            </div>
        {% endfor %}

  <!-- Добавьте других сотрудников по аналогии -->
</div>

    {% for f in feedback %}
        <h3>{{ f.user }}</h3>
        <p>{{ f.product }}</p>
        <p>{{ f.rating}}</p>
        <p>{{ f.discription }}</p>
        <p>{{ f.date }}</p>
    {% endfor %}
{% if user.is_authenticated %}
    <a href="{% url 'feedback_create' %}">Create feedback</a>
    {% else %}
    <a href="{% url 'login' %}">Create feedback</a>
    {% endif %}

{% endblock %}




