{% extends 'shared/base.html' %}

{% block content %}


{##}
{% load static %}
{#<div class="background-container section1">#}
{#<div class="section1">#}
{##}
{#</div>#}
{##}
{#</div>#}

    <img class="full" src="{% static 'img/main.jpeg' %}">

    <div class="for-title">
        <h1>Categories</h1>
    </div>
    <div class="grid-container col-3">
        {% for el in category %}
            <a href="{% url 'products' %}?category={{ el.id }}" style="text-decoration: none" class="card category-card">
                <img src="{{ el.image.url }}" class="img-products-all" alt="...">
            </a>
        {% endfor %}
    </div>

    <div class="for-title">
        <h1>Last news</h1>
    </div>
    <div class="news-carousel">
    <div class="carousel-slides">
    {% for i in n %}
    {% for news in latest_news %}
        <div class="carousel-item">
            <div class="news-card">
                <a href="{% url 'news_info' id=news.id %}">
                    <img src="{{ news.image.url }}" class="card-img-top carousel-img" alt="...">
                    <h3>{{ news.title }}</h3>
                    <a href="{% url 'news_info' id=news.id %}">Read more</a>
                </a>
            </div>
        </div>
    {% endfor %}
    {% endfor %}
    </div>
</div>

    <div class="news-carousel">

</div>

    <h3>Факты о котах</h3>

    <button id="getCatFactBtn">Получить факт о коте</button>

    <div id="catFactContainer">
        <!-- Здесь будут отображаться факты о котах -->
    </div>

    <script>
        // Функция для отправки запроса на сервер и отображения фактов о котах
        function getCatFact() {
        // Отправляем GET-запрос на сервер для получения факта о коте
        fetch('https://catfact.ninja/fact')
            .then(response => response.json())
            .then(data => {
                // Вставляем факт о коте в контейнер
                const catFactContainer = document.getElementById('catFactContainer');
                catFactContainer.innerHTML = `<p>${data.fact}</p>`;
            })
            .catch(error => {
                console.error('Ошибка при получении факта о коте:', error);
            });
    }

    // Добавляем обработчик события на кнопку
    const getCatFactBtn = document.getElementById('getCatFactBtn');
    getCatFactBtn.addEventListener('click', getCatFact);
    </script>

    <div class="card" style="width: 18rem;">
        <div id="dogImageContainer" class="card-img-top" style="box-sizing: border-box; max-width: 18rem; max-height: 18rem; overflow: hidden;">
            <!-- Здесь будет отображаться случайное изображение собаки -->
        </div>
{#        <img id="dogImageContainer" class="card-img-top" alt="...">#}
        <div class="card-body">
            <h5 class="card-title">Случайные изображения собак</h5>
            <button id="getRandomDogBtn">Получить случайное изображение собаки</button>
            <a class="btn btn-primary" id="getRandomDogBtn">Go somewhere</a>
  </div>
</div>


    <h3>Случайные изображения собак</h3>

    <button id="getRandomDogBtn">Получить случайное изображение собаки</button>

<div id="dogImageContainer">
    <!-- Здесь будет отображаться случайное изображение собаки -->
</div>

<script>
    // Функция для отправки запроса на сервер и отображения случайного изображения собаки
    function getRandomDogImage() {
        // Отправляем GET-запрос на сервер для получения случайного изображения собаки
        fetch('https://dog.ceo/api/breeds/image/random')
            .then(response => response.json())
            .then(data => {
                // Вставляем изображение собаки в контейнер
                const dogImageContainer = document.getElementById('dogImageContainer');
                dogImageContainer.innerHTML = `<img src="${data.message}" alt="Случайное изображение собаки">`;
            })
            .catch(error => {
                console.error('Ошибка при получении случайного изображения собаки:', error);
            });
    }

    // Добавляем обработчик события на кнопку
    const getRandomDogBtn = document.getElementById('getRandomDogBtn');
    getRandomDogBtn.addEventListener('click', getRandomDogImage);
</script>


{#    <div class="float-sm-end">#}
{#        <div class="card text-bg-danger mb-3" style="max-width: 18rem; ">#}
{#  <div class="card-header">Header</div>#}
{#  <div class="card-body">#}
{#    <h5 class="card-title">Danger card title</h5>#}
{#    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#  </div>#}
{#</div>#}
{#    </div>#}

<div class="grid-container col-4">
    <div class="card card-img img-round">
        <a href="https://www.felix-club.ru/">
            <img src="../static/img/felix.jpg" height="100">
        </a>
    </div>
    <div class="card card-img img-round">
        <a href="https://www.purina.com/pro-plan">
            <img src="../static/img/pro_plan.png" height="100">
        </a>
    </div>
    <div class="card card-img img-round">
        <a href="https://www.acana.com/en-US/homepage">
            <img src="../static/img/acana.webp" height="70">
        </a>
    </div>
    <div class="card card-img img-round">
        <a href="https://www.royalcanin.com/nl">
            <img src="../static/img/royal_canin.jpg" height="100">
        </a>
    </div>
</div>

{% endblock %}