{% extends 'shared/base.html' %}

{% block content %}

{% load static %}


    <img class="full" src="{% static 'img/main.jpeg' %}">

    <div class="for-title">
        <h1>Categories</h1>
    </div>
    <div class="grid-container col-3">
        {% for el in category %}
            <a href="{% url 'products' %}?category={{ el.id }}" style="text-decoration: none" class="card category-card">
                <img src="{{ el.image.url }}" class="img-products-all" alt="...">
            </a>
        {% endfor %}
    </div>

    <div class="for-title">
        <h1>Last news</h1>
    </div>
    <div class="news-carousel">
    <div class="carousel-slides">
    {% for i in n %}
    {% for news in latest_news %}
        <div class="carousel-item">
            <div class="news-card">
                <a href="{% url 'news_info' id=news.id %}">
                    <img src="{{ news.image.url }}" class="card-img-top carousel-img" alt="...">
                    <h3>{{ news.title }}</h3>
                    <a href="{% url 'news_info' id=news.id %}">Read more</a>
                </a>
            </div>
        </div>
    {% endfor %}
    {% endfor %}
    </div>
</div>

    <div class="news-carousel">

</div>
<div class="grid-container col-2">
<div class="card">
    <h3>Факты о котах</h3>

    <button id="getCatFactBtn">Получить факт о коте</button>

    <div id="catFactContainer">
        <!-- Здесь будут отображаться факты о котах -->
    </div>
</div>

{#    <div class="card dog">#}


<div id="dogImageContainer" style="height: auto; width: 100%;">
    <!-- Здесь будет отображаться случайное изображение собаки -->
</div>

</div>
<h3>Случайные изображения собак</h3>

    <button id="getRandomDogBtn">Click</button>

{#</div>#}
    <script>
    // Функция для отправки запроса на сервер и отображения случайного изображения собаки
    function getRandomDogImage() {
        // Отправляем GET-запрос на сервер для получения случайного изображения собаки
        fetch('https://dog.ceo/api/breeds/image/random')
            .then(response => response.json())
            .then(data => {
                // Вставляем изображение собаки в контейнер
                const dogImageContainer = document.getElementById('dogImageContainer');
                dogImageContainer.innerHTML = `<img src="${data.message}" alt="Случайное изображение собаки">`;
            })
            .catch(error => {
                console.error('Ошибка при получении случайного изображения собаки:', error);
            });
    }

    // Добавляем обработчик события на кнопку
    const getRandomDogBtn = document.getElementById('getRandomDogBtn');
    getRandomDogBtn.addEventListener('click', getRandomDogImage);
</script>


<div class="grid-container col-4">
    <div class="card card-img img-round">
        <a href="https://www.felix-club.ru/">
            <img src="../static/img/felix.jpg" height="100">
        </a>
    </div>
    <div class="card card-img img-round">
        <a href="https://www.purina.com/pro-plan">
            <img src="../static/img/pro_plan.png" height="100">
        </a>
    </div>
    <div class="card card-img img-round">
        <a href="https://www.acana.com/en-US/homepage">
            <img src="../static/img/acana.webp" height="70">
        </a>
    </div>
    <div class="card card-img img-round">
        <a href="https://www.royalcanin.com/nl">
            <img src="../static/img/royal_canin.jpg" height="100">
        </a>
    </div>
</div>



    <script>
        // Функция для отправки запроса на сервер и отображения фактов о котах
        function getCatFact() {
        // Отправляем GET-запрос на сервер для получения факта о коте
        fetch('https://catfact.ninja/fact')
            .then(response => response.json())
            .then(data => {
                // Вставляем факт о коте в контейнер
                const catFactContainer = document.getElementById('catFactContainer');
                catFactContainer.innerHTML = `<p>${data.fact}</p>`;
            })
            .catch(error => {
                console.error('Ошибка при получении факта о коте:', error);
            });
    }

    // Добавляем обработчик события на кнопку
    const getCatFactBtn = document.getElementById('getCatFactBtn');
    getCatFactBtn.addEventListener('click', getCatFact);
    </script>

{% endblock %}