{% extends 'shared/base.html' %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/text.css' %}">
{% endblock %}

{% block content %}
<div class="card mb-3">
  <img src="{{ news.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ news.title }}</h5>
    <p class="card-text text-news">{{ news.content }}</p>
    <p class="card-text"><small class="text-body-secondary">{{ news.date }}</small></p>
  </div>
</div>
{% endblock %}
