{% extends 'shared/base.html' %}

{% block content %}
   <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ supplier.company_name }}</h5>
        <p class="card-text">{{ supplier.address }}</p>
        <p class="card-text"><small class="text-body-secondary">{{ supplier.phone }}</small></p>
          <p class="card-text"><small class="text-body-secondary">
              <ul>
                  {% for el in products %}
                  <li>{{ el.name }}</li>
                  {% endfor %}
              </ul>
          </small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}