

{% extends 'shared/base.html' %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/for_trash.css' %}">
{% endblock %}

{% block content %}
    <nav>
    <ul class="specific">
        <li><a href="#item">Item</a></li>
        <li><a href="#code">Code</a></li>
        <li><a href="#definition">Definition</a></li>
        <li><a href="#quote">Quote</a></li>

    </ul>
    </nav>

<p>Текущая дата и время (в вашей временной зоне): {{ user_timezone_datetime|date:"d/m/Y H:i:s" }}</p>
<p>Текущая дата и время (UTC): {{ utc_datetime|date:"d/m/Y H:i:s" }}</p>
<div class="calendar">
    <pre>{{ calendar|safe }}</pre>
</div>

<div itemscope itemtype="http://schema.org/Person" id="item">
  <h1 itemprop="name">John Doe</h1>
  <p >Occupation: <span itemprop="jobTitle">Web Developer</span></p>
</div>

    <code id="code">cout << <var>heeey</var>;</code><br>

    <dfn title="Web-разработчик" id="definition">человек, занимающийся разработкой веб-сайтов или корпоративных приложений для Интернета.</dfn><br>
    <q cite="Dr. Christopher Dayagdag" id="quote">A website without visitors is like a ship lost in the horizon.</q>

    <p class="text">Кто у двери <wbr>нас встречает<br>
        В тишине весь <wbr>день проспав,<br>
        И от счастья<wbr> начинает <br>
        Громко лаять <wbr>«Гав-гав-гав»?</p><br>
{% load static %}
    <figure>
        <img src="{% static '/img/cat.jpg' %}" height="100" alt="cat">
        <figcaption>Cat</figcaption>
    </figure>

    <caption>Something</caption>
    <table class="table-trash" border="1">
        <tr>
            <th>Тип животного</th>
            <th>Количество</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td rowspan="3">Млекопитающие</td>
            <td class="td-num">10</td>
            <td>Млекопитающие - это животные, которые питаются молоком своих матерей.</td>
        </tr>
        <tr>
            <td></td>
            <td>Среди млекопитающих есть хищники и травоядные.</td>
        </tr>
        <tr>
            <td class="td-num">5</td>
            <td>Некоторые млекопитающие являются домашними питомцами.</td>
        </tr>
        <tr>
            <td colspan="2">Птицы</td>
            <td>Птицы - это пернатые животные, способные летать.</td>
        </tr>
        <tr>
            <td>Рептилии</td>
            <td class="td-num">8</td>
            <td>Рептилии - это холоднокровные животные, включая змей и ящериц.</td>
        </tr>
    </table>

    <div class="grid-container col-4">
    <div class="card card-img company-card">
        <a href="https://www.felix-club.ru/" class="company">FELIX</a>
    </div>
    <div class="card card-img">
        <a href="https://www.purina.com/pro-plan" class="company">PRO-PLAN</a>
    </div>
    <div class="card card-img">
        <a href="https://www.acana.com/en-US/homepage" class="company">ACANA</a>
    </div>
    <div class="card card-img">
        <a href="https://www.royalcanin.com/nl" class="company">ROYAL CANIN</a>
    </div>
</div>

    <form>
    <input type="number" min="0" max="10" placeholder="from 0 to 10" required>
    <input type="text">
    <input type="color" disabled>

        <input type="checkbox" id="checkbox1" checked>
    <label for="checkbox1">Checkbox 1</label>
    <input type="checkbox" id="checkbox2">
    <label for="checkbox2">Checkbox 2</label>

    <input type="radio" id="radio1" name="radioGroup" >
<label for="radio1">Radio 1</label>

<input type="radio" id="radio2" name="radioGroup" checked>
<label for="radio2">Radio 2</label>
    </form>

    <p>Цитата на французском языке: <q lang="fr">Ce que femme veut, Dieu le veut</q>.</p>
<p>Цитата на немецком: <q lang="de">Der Mensch, versuche die Gotter nicht</q>.</p>
<p>Цитата на английском: <q lang="en">То be or not to be</q>.</p>


    <iframe width="90%" height="500px" src="https://ru.wikipedia.org/wiki/Животные"></iframe>
{% endblock %}