{% extends 'shared/base.html' %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/for_trash.css' %}">
{% endblock %}

{% block content %}
    <form action="" id="tableSize" method="POST">
    {% csrf_token %}
    <label style="display:block;">
        Select size:
        <input type="number" id="inputSize" required max="50" min="1" />
    </label>
    <label style="display:block;">
        Max selected cells:
        <input type="number" id="inputMax" required max="50" min="1" />
    </label>
    <input type="submit" value="Create table" />
</form>

<button id="transposeBtn">Transpose</button>
<button id="addRowBtn">Add row</button>
<button id="addColumnBtn">Add column</button>

<div id="tableContainer">

</div>
    <div class="form-change">
    <form id="styleForm">
    <label>
      <input type="checkbox" id="fontSizeCheckbox">
      Change Font Size
    </label>
    <br>
    <label>
      <input type="checkbox" id="textColorCheckbox">
      Change Text Color
    </label>
    <br>
    <label>
      <input type="checkbox" id="bgColorCheckbox">
      Change Background Color
    </label>
  </form>
 </div>
{#    <h1>Extends inheritance</h1>#}
<div id="petInfo">
    <p id="dogName"></p>
    <p id="updatedDogName"></p>
    <p id="animalDetails"></p>
    <p id="dogDetails"></p>
    <p id="dogBark"></p>
</div>

<form id="dobForm">
    <label for="dob">Enter your Date of Birth:</label>
    <input type="date" id="dob">
    <button type="button" onclick="calculateAge()">Submit</button>
  </form>

    <div id="countdown"></div>

    <form id="exportForm">
  <label for="productName">Наименование товара:</label>
  <input type="text" id="productName" required><br><br>

  <label for="exportCountry">Страна экспорта:</label>
  <input type="text" id="exportCountry" required><br><br>

  <label for="exportVolume">Объем экспорта (в штуках):</label>
  <input type="number" id="exportVolume" required><br><br>

  <button type="button" onclick="addExportData()">Добавить данные</button>
</form>

<div id="result"></div>

{#    <div id="petInfo"></div>#}

<p>Текущая дата и время (в вашей временной зоне): {{ user_timezone_datetime|date:"d/m/Y H:i:s" }}</p>
<p>Текущая дата и время (UTC): {{ utc_datetime|date:"d/m/Y H:i:s" }}</p>
<div class="calendar">
    <pre>{{ calendar|safe }}</pre>
</div>

<div itemscope itemtype="http://schema.org/Person" id="item">
  <h1 itemprop="name">John Doe</h1>
  <p >Occupation: <span itemprop="jobTitle">Web Developer</span></p>
</div>

    <code id="code">cout << <var>heeey</var>;</code><br>

    <dfn title="Web-разработчик" id="definition">человек, занимающийся разработкой веб-сайтов или корпоративных приложений для Интернета.</dfn><br>
    <q cite="Dr. Christopher Dayagdag" id="quote">A website without visitors is like a ship lost in the horizon.</q>

    <p class="text">Кто у двери <wbr>нас встречает<br>
        В тишине весь <wbr>день проспав,<br>
        И от счастья<wbr> начинает <br>
        Громко лаять <wbr>«Гав-гав-гав»?</p><br>
{% load static %}
    <figure>
        <img src="{% static '/img/cat.jpg' %}" height="100" alt="cat">
        <figcaption>Cat</figcaption>
    </figure>

    <caption>Something</caption>
    <table class="table-trash" border="1">
        <tr>
            <th>Тип животного</th>
            <th>Количество</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td rowspan="3">Млекопитающие</td>
            <td class="td-num">10</td>
            <td>Млекопитающие - это животные, которые питаются молоком своих матерей.</td>
        </tr>
        <tr>
            <td></td>
            <td>Среди млекопитающих есть хищники и травоядные.</td>
        </tr>
        <tr>
            <td class="td-num">5</td>
            <td>Некоторые млекопитающие являются домашними питомцами.</td>
        </tr>
        <tr>
            <td colspan="2">Птицы</td>
            <td>Птицы - это пернатые животные, способные летать.</td>
        </tr>
        <tr>
            <td>Рептилии</td>
            <td class="td-num">8</td>
            <td>Рептилии - это холоднокровные животные, включая змей и ящериц.</td>
        </tr>
    </table>



    <p>Цитата на французском языке: <q lang="fr">Ce que femme veut, Dieu le veut</q>.</p>
<p>Цитата на немецком: <q lang="de">Der Mensch, versuche die Gotter nicht</q>.</p>
<p>Цитата на английском: <q lang="en">То be or not to be</q>.</p>



    <script src="{% static 'js/for_trash.js' %}"></script>
    <script src="{% static 'js/class.js' %}"></script>
{% endblock %}