@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html {
    background-color: rgba(204, 204, 204, 0.15);
}

body {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
}

pre {
    font-family: inherit;
}




div.center {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
}