@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html {
    background-color: rgba(204, 204, 204, 0.15);
}

body {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
}

pre {
    font-family: inherit;
}

.for-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.for-title > h1 {
    text-align: center;
}

div.center {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.employee-list {
  display: flex;
  justify-content: space-around; /* Равномерное распределение сотрудников по горизонтали */
  flex-wrap: wrap; /* Перенос элементов на новую строку при нехватке места */
}

.employee {
  width: 300px;
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.employee img {
  max-width: 100%;
}
