.news-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-slides {
    display: flex;
    animation: carousel 500s linear infinite;
}

.carousel-item {
    width: 1280px;
    flex-shrink: 0;
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(-1000%);
    }
    66.67% {
        transform: translateX(-2000%);
    }
    99.999% {
        transform: translateX(-3000%);
    }
    100% {
        transform: translateX(0px);
    }
}
