.img-products-all {
    max-height: 100%;
    max-width: 100%;
}

.carousel-img {
    max-width: 100%;
}

.img-round {
    /*max-height: 100%;*/
    /*max-width: 100%;*/
    border-radius: 1000px !important; /* Радиус скругления */
    border: 3px solid #FEC40E !important;
    box-shadow: 0 0 7px #c79815;
}

.company-callout__img {
    transform: rotate(375grad);
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    max-width: 100%;
}

.full {
    width: 1519px;
}

@media (max-width: 720px) {
    .full {
        width: 100%;
    }
}

.sertificat {
    border: 30px solid #40c4c8;
    padding: 20px;
    -webkit-border-image: url(../img/for-sert.jpg) 550 round round;
    border-image: url(../img/for-sert.jpg) 550 round round;
    width: 780px;
    background-image: url("../img/fon.jpg");
    background: linear-gradient(196.82deg, #b21d03, yellow);
    z-index: auto;
}

.sertificat > h1 {
    text-align: center;
}

.icon {
    height: 200px;
    margin-left: 40%;
}