a {
    color: #000; /* Цвет текста по умолчанию */
    text-decoration: none; /* Отключение подчеркивания */
}

a:visited, .navbar-scrolled a {
    color: #1e1f22; /* Цвет текста для посещенных ссылок */
}

a:hover, .navbar-scrolled a {
    color: #ffdd00; /* Изменение цвета при наведении курсора */
    text-decoration: Highlight; /* Подчеркивание при наведении */
    cursor: pointer;
}

a:active, .navbar-scrolled a {
    color: #a49004; /* Изменение цвета при нажатии */
}

a:focus {
    outline: 2px solid #ffdd00; /* Окантовка ссылки при фокусе */
}




a.btn {
    border-radius:  0.375rem;
    padding: 0.375rem 0.75rem;
}

a.gren{
    color: #198754;
    /*outline-width: 2px;*/
    border: 2px solid #198754;
}

a.gren:hover {
    color: #ffffff;
    background-color: #198754;
}

a.orange{
    color: #fd7e14;
    /*outline-width: 2px;*/
    border: 2px solid #fd7e14;
}

a.orange:hover {
    color: #ffffff;
    background-color: #fd7e14;

}