.navbar {
    padding: 0 0;
    display: flex;
    position: sticky;
    top:0;
    background-color: rgba(30, 31, 34, 0.3);
    width: 100%;
    z-index: 100;
    /*transition: position 0.3s ease;*/
}

.navbar-scrolled {
            background-color: rgba(0, 0, 0, 0.8);
    /*position: fixed;*/
        }

.navbar-scrolled a {
    color: white; /* Цвет ссылок при измененном фоне */
}

.navbar-scrolled a:hover:not(.btn){
    color: #ffdd00;
}



[class="navbar-nav"] {
    display: flex;
    align-content: center;
    list-style-type: none;
    align-items: center;
}

.nav-item {
    padding: 10px;
    align-content: center;
    height: 48px;
    vertical-align: center;
    /*display: list-item;*/
}

.nav-item {
    height: auto;
}

a {
    align-content: center;

}

.brand {
    font-size: 24px; /* Измените размер шрифта первой буквы по вашему усмотрению */
    font-weight: bold;
}