.text-news::first-letter {
    font-size: 24px; /* Измените размер шрифта первой буквы по вашему усмотрению */
    font-weight: bold; /* Измените настройки шрифта по вашему усмотрению */
    color: red; /* Измените цвет первой буквы по вашему усмотрению */
}

p, pre, h1:hover {
    cursor: text;
}

p, pre {
    padding: 10px;
    margin: 20px 0px;
    text-indent : 0px;
    line-height: normal;
    letter-spacing : normal;
    word-spacing: 5px;
    word-wrap: break-word;
}

h3 {
    display: inline;
}

.text-news {
    width: inherit;
    overflow-wrap: break-word;
    hyphens: auto;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}
h5, h6 {
    font-variant: small-caps;
}

#text {
    text-transform: uppercase;
}

.news {
    height: 97px;
}

.card-text-min {
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    columns: 300px 3;
}